<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls blog</a></h1>
    </div>

    <div>
        <p>published: 11.10.2.2024, 21:49</p>
        <h2><a href="">My first post</a></h2>
        <p>Aenean eu leo quam. こんにちは！ よろしくお願いします！</p>
    </div>

    <div>
        <p>公開日:2024/10/11, 21:49</p>
        <h2><a href="">2番目の投稿</a></h2>
        <p>こんにちは！よろしくお願いします！</p>
    </div>
</body>
</html>